$brownColor: #A03037;

#link-btn,
#sign-in-btn {
  text-transform: none;
  font-weight: bold;
  color: $brownColor;
}
#submit {
  background-color: $brownColor;
  color: white;
}

#login-form,
#registeration-form,
#resetpassword-form,
#forgotpassword-form {
  width: 45%;
  margin: 5% auto;
}

.multicolortext {
  color: $brownColor;
  font-weight: bold;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 400px) {
  #login-form,
  #registeration-form,
  #resetpassword-form,
  #forgotpassword-form {
    width: 90%;
    margin: 10% auto;
  }
}
@media screen and (max-width: 600px) {
  #book-logo {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  #login-form,
  #registeration-form,
  #resetpassword-form,
  #forgotpassword-form {
    width: 90%;
    margin: 10% auto;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #login-form,
  #registeration-form,
  #resetpassword-form,
  #forgotpassword-form {
    width: 70%;
    margin: 5% auto;
  }
}

#book-logo {
  width: 90%;
  height: 400px;
  margin-left: 15px;
  color: $brownColor;
}
